@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }

.animated-background, .category-products .products-view-grid .evo-product-block-item .product-img a.image-resize img:not(.loaded), .group-category .category-item .group-category-image img:not(.loaded) {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #F6F6F6;
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 700px 104px;
  position: relative; }

.aside-item.collection-category {
  border: 1px solid #ebebeb;
  padding: 5px;
  position: relative; }
  .aside-item.collection-category .aside-title {
    position: absolute;
    top: -22px;
    left: -1px;
    background-color: #fff;
    padding: 10px;
    padding-left: 0; }
    @media (max-width: 991px) {
      .aside-item.collection-category .aside-title {
        top: -10px; } }
    .aside-item.collection-category .aside-title .title-head {
      font-size: 16px;
      font-weight: 500;
      color: #000;
      position: relative;
      margin-bottom: 0;
      text-transform: uppercase; }
  .aside-item.collection-category .aside-content {
    padding-top: 20px; }
    .aside-item.collection-category .aside-content .navbar-pills .nav-item a {
      font-size: 14px;
      padding-left: 0px;
      padding-right: 25px;
      color: #1c1c1c;
      white-space: normal;
      position: relative;
      display: table;
      width: 100%; }
      .aside-item.collection-category .aside-content .navbar-pills .nav-item a:hover, .aside-item.collection-category .aside-content .navbar-pills .nav-item a:focus {
        color: #f68e2e;
        background-color: transparent; }
      .aside-item.collection-category .aside-content .navbar-pills .nav-item a i.fa-caret-right {
        display: table-cell;
        width: 10px !important; }
    .aside-item.collection-category .aside-content .navbar-pills .nav-item .Collapsible__Plus {
      position: absolute;
      right: 0px;
      top: calc(50% - (20px / 2));
      width: 20px;
      height: 20px; }
      .aside-item.collection-category .aside-content .navbar-pills .nav-item .Collapsible__Plus::before, .aside-item.collection-category .aside-content .navbar-pills .nav-item .Collapsible__Plus::after {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-90deg);
        transform: translate(-50%, -50%) rotate(-90deg);
        background-color: currentColor;
        -webkit-transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
        transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out; }
      .aside-item.collection-category .aside-content .navbar-pills .nav-item .Collapsible__Plus::before {
        width: 11px;
        height: 1px;
        opacity: 1; }
      .aside-item.collection-category .aside-content .navbar-pills .nav-item .Collapsible__Plus::after {
        width: 1px;
        height: 11px; }
    .aside-item.collection-category .aside-content .navbar-pills .nav-item.active > .Collapsible__Plus::after {
      -webkit-transform: translate(-50%, -50%) rotate(90deg);
      transform: translate(-50%, -50%) rotate(90deg); }
    .aside-item.collection-category .aside-content .navbar-pills .nav-item.active > .Collapsible__Plus::before {
      opacity: 0; }
    .aside-item.collection-category .aside-content .navbar-pills .nav-item .dropdown-menu {
      margin: 0;
      padding: 0;
      -webkit-transition: left 0.3s ease 0s, opacity 0.3s;
      transition: left 0.3s ease 0s, opacity 0.3s; }
      .aside-item.collection-category .aside-content .navbar-pills .nav-item .dropdown-menu .nav-item a {
        padding: 5px 10px;
        padding-right: 25px; }
      .aside-item.collection-category .aside-content .navbar-pills .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item a {
        padding: 5px 20px; }
      .aside-item.collection-category .aside-content .navbar-pills .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item a {
        padding: 5px 30px; }

.aside-filter {
  margin-top: 15px;
  border: 1px solid #eee;
  padding: 5px; }
  @media (max-width: 480px) {
    .aside-filter {
      border: none;
      padding: 0; } }
  .aside-filter .heading {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    padding: 8px 0px;
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    text-transform: uppercase; }
  .aside-filter .aside-hidden-mobile .aside-item {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px; }
    .aside-filter .aside-hidden-mobile .aside-item:last-child {
      border-bottom: none;
      margin-bottom: 0; }
    .aside-filter .aside-hidden-mobile .aside-item .aside-title {
      color: #1c1c1c;
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 10px;
      line-height: 24px;
      text-transform: uppercase; }
    .aside-filter .aside-hidden-mobile .aside-item .aside-content {
      margin-bottom: 10px; }
      .aside-filter .aside-hidden-mobile .aside-item .aside-content .field-search {
        margin: 10px 0; }
        .aside-filter .aside-hidden-mobile .aside-item .aside-content .field-search input {
          border: 1px solid #efefef;
          background: #fff;
          height: 30px;
          border-radius: 0px;
          min-height: 1px;
          padding: 0px 8px; }
          .aside-filter .aside-hidden-mobile .aside-item .aside-content .field-search input:focus {
            border: 1px solid #efefef;
            outline: none;
            box-shadow: none; }
        .aside-filter .aside-hidden-mobile .aside-item .aside-content .field-search button {
          height: 30px;
          background-color: #f68e2e;
          color: #fff;
          padding: 0px 10px;
          line-height: 30px; }
          .aside-filter .aside-hidden-mobile .aside-item .aside-content .field-search button:hover, .aside-filter .aside-hidden-mobile .aside-item .aside-content .field-search button:focus {
            background-color: #e7740a;
            color: #fff;
            outline: none;
            box-shadow: none; }

.evo-aside-banner {
  margin-top: 15px;
  border: 1px solid #eee;
  padding: 5px; }
  @media (max-width: 480px) {
    .evo-aside-banner {
      border: none;
      padding: 0; } }
  .evo-aside-banner .heading {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    padding: 8px 0px;
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    text-transform: uppercase; }

.category-products {
  margin-top: 0px; }
  .category-products .sort-cate {
    border-bottom: 1px solid #f5f5f5;
    display: block;
    padding-bottom: 5px; }
    .category-products .sort-cate .sort-cate-left {
      float: left;
      margin-top: 5px; }
      .category-products .sort-cate .sort-cate-left h3 {
        color: #000;
        font-size: 14px;
        float: left;
        margin: 0;
        margin-top: 2px; }
      .category-products .sort-cate .sort-cate-left ul {
        display: inline-block; }
        .category-products .sort-cate .sort-cate-left ul li {
          float: left;
          padding: 0 0 0 10px; }
          .category-products .sort-cate .sort-cate-left ul li a {
            color: #000;
            font-size: 14px;
            position: relative; }
            .category-products .sort-cate .sort-cate-left ul li a i {
              height: 16px;
              width: 16px;
              border: 2px solid #ddd;
              border-radius: 0;
              display: inline-block;
              vertical-align: middle;
              margin: -3px 5px 0 0;
              position: relative; }
          .category-products .sort-cate .sort-cate-left ul li:hover i, .category-products .sort-cate .sort-cate-left ul li.active i {
            border: 2px solid #f68e2e;
            height: 16px;
            width: 16px; }
            .category-products .sort-cate .sort-cate-left ul li:hover i:before, .category-products .sort-cate .sort-cate-left ul li.active i:before {
              content: "";
              width: 8px;
              height: 8px;
              background-color: #f68e2e;
              position: absolute;
              border-radius: 50%;
              margin: 2px; }
    .category-products .sort-cate .sort-cate-right {
      float: right; }
      .category-products .sort-cate .sort-cate-right h3 {
        color: #000;
        font-size: 14px;
        font-weight: normal;
        float: left;
        margin: 0;
        margin-top: 5px;
        margin-right: 5px; }
      .category-products .sort-cate .sort-cate-right .view-mode {
        display: inline-block; }
        @media (max-width: 480px) {
          .category-products .sort-cate .sort-cate-right .view-mode {
            text-align: center;
            display: block; } }
        .category-products .sort-cate .sort-cate-right .view-mode a {
          border: 1px solid #eaeced;
          width: 65px;
          display: inline-block;
          color: #333;
          font-size: 14px;
          height: auto;
          line-height: inherit;
          float: left;
          border-radius: 0;
          height: 30px;
          line-height: 30px; }
          @media (min-width: 413px) and (max-width: 415px) {
            .category-products .sort-cate .sort-cate-right .view-mode a {
              width: 90px; } }
          @media (min-width: 374px) and (max-width: 380px) {
            .category-products .sort-cate .sort-cate-right .view-mode a {
              width: 80px; } }
          .category-products .sort-cate .sort-cate-right .view-mode a.active, .category-products .sort-cate .sort-cate-right .view-mode a:hover {
            color: #f68e2e; }
          .category-products .sort-cate .sort-cate-right .view-mode a + a {
            margin-left: 5px; }
          @media (max-width: 480px) {
            .category-products .sort-cate .sort-cate-right .view-mode a {
              float: none; } }
      @media (max-width: 480px) {
        .category-products .sort-cate .sort-cate-right {
          width: 50%; }
          .category-products .sort-cate .sort-cate-right h3 {
            display: block;
            text-align: left;
            margin-right: 0;
            float: none; } }
    @media (max-width: 480px) {
      .category-products .sort-cate .sort-cate-right-mobile {
        width: 100%;
        float: left; }
        .category-products .sort-cate .sort-cate-right-mobile #sort-by {
          float: none; }
          .category-products .sort-cate .sort-cate-right-mobile #sort-by .left {
            display: block;
            float: left;
            line-height: 1.4;
            font-weight: normal;
            margin-right: 10px;
            margin-top: 5px; }
          .category-products .sort-cate .sort-cate-right-mobile #sort-by ul {
            float: none; }
            .category-products .sort-cate .sort-cate-right-mobile #sort-by ul > li {
              border: 1px solid #eaeced;
              padding: 0 5px;
              width: 137px;
              line-height: 28px; }
            .category-products .sort-cate .sort-cate-right-mobile #sort-by ul ul {
              background-color: #fff;
              border-top: none; }
              .category-products .sort-cate .sort-cate-right-mobile #sort-by ul ul li {
                width: 100%;
                border: none; } }
  @media (min-width: 992px) {
    .category-products .products-view-grid .col-xs-6:nth-child(3n+1) {
      clear: left; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .category-products .products-view-grid .col-xs-6:nth-child(3n+1) {
      clear: left; } }
  @media (max-width: 767px) {
    .category-products .products-view-grid .col-xs-6:nth-child(2n+1) {
      clear: left; } }
  @media (max-width: 480px) {
    .category-products .products-view-grid .col-xs-6:nth-child(2n+1) {
      padding-right: 3.5px; }
    .category-products .products-view-grid .col-xs-6:nth-child(2n+2) {
      padding-left: 3.5px; } }

.filter-container__selected-filter {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee; }

.filter-container__selected-filter-header {
  margin-bottom: 5px; }

.filter-container__selected-filter-header-title {
  font-size: 16px;
  font-weight: 500;
  color: #ff4c4c; }

.filter-container__clear-all {
  float: right;
  color: #333;
  margin-top: 3px; }

.filter-container__selected-filter-item {
  padding: 3px 0; }
  .filter-container__selected-filter-item > a {
    color: #333;
    font-size: em(13px); }
    .filter-container__selected-filter-item > a:hover, .filter-container__selected-filter-item > a:focus {
      color: #f68e2e; }
  .filter-container__selected-filter-item .fa {
    margin-right: 10px;
    color: #F44336; }

.main_container .col-title {
  font-size: 16px;
  font-weight: 500;
  color: #1e1e1e;
  text-transform: uppercase;
  margin-top: 0; }

@media (max-width: 480px) {
  .category-products .products-view-grid .evo-product-block-item {
    margin-bottom: 7px; } }

.category-products .products-view-grid .evo-product-block-item .product-img a.image-resize {
  display: block;
  position: relative;
  height: 271px; }
  @media (max-width: 1024px) {
    .category-products .products-view-grid .evo-product-block-item .product-img a.image-resize {
      height: 221px; } }
  @media (max-width: 991px) {
    .category-products .products-view-grid .evo-product-block-item .product-img a.image-resize {
      height: 228px; } }
  @media (max-width: 767px) {
    .category-products .products-view-grid .evo-product-block-item .product-img a.image-resize {
      height: 346px; } }
  @media (max-width: 668px) {
    .category-products .products-view-grid .evo-product-block-item .product-img a.image-resize {
      height: 312px; } }
  @media (max-width: 569px) {
    .category-products .products-view-grid .evo-product-block-item .product-img a.image-resize {
      height: 262px; } }
  @media (max-width: 480px) {
    .category-products .products-view-grid .evo-product-block-item .product-img a.image-resize {
      height: 195px; } }
  @media (max-width: 376px) {
    .category-products .products-view-grid .evo-product-block-item .product-img a.image-resize {
      height: 175px; } }
  @media (max-width: 321px) {
    .category-products .products-view-grid .evo-product-block-item .product-img a.image-resize {
      height: 147px; } }
  .category-products .products-view-grid .evo-product-block-item .product-img a.image-resize img {
    width: auto !important;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .category-products .products-view-grid .evo-product-block-item .product-img a.image-resize img:not(.loaded) {
      width: 100% !important;
      height: 100% !important;
      opacity: 0.2; }

@media (max-width: 991px) {
  #open-filters {
    color: #fff;
    background: #f68e2e;
    position: fixed;
    right: 0;
    top: 35% !important;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    z-index: 99;
    font-size: 18px;
    -webkit-transition: all 0.55s ease;
    -o-transition: all 0.55s ease;
    transition: all 0.55s ease; }
    #open-filters.open {
      right: 280px; }
      #open-filters.open i:before {
        content: "\f00d"; }
  .evo-sidebar {
    position: fixed;
    width: 280px;
    background: #fff;
    top: 0 !important;
    bottom: 0;
    right: 0;
    padding: 5px;
    border-left: solid 1px #eaeaea;
    overflow: auto;
    z-index: 100000;
    visibility: hidden;
    -webkit-transition: visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    height: 100%; }
    .evo-sidebar.open {
      visibility: visible;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); } }

.single_image_effect {
  display: block;
  position: relative;
  overflow: hidden; }
  .single_image_effect:before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .single_image_effect:hover:before {
    -webkit-animation: circle 0.75s;
    -ms-animation: circle 0.75s;
    -o-animation: circle 0.75s;
    animation: circle 0.75s; }

@-ms-keyframes
circle {
  0% {
    opacity: 1; }
  40% {
    opacity: 1; }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0; } }

@-o-keyframes
circle {
  0% {
    opacity: 1; }
  40% {
    opacity: 1; }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0; } }

@-webkit-keyframes
circle {
  0% {
    opacity: 1; }
  40% {
    opacity: 1; }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0; } }

@keyframes
circle {
  0% {
    opacity: 1; }
  40% {
    opacity: 1; }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0; } }

.slide-collection .slick-slide {
  margin: 5px; }

.slide-collection .slick-arrow {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  line-height: 30px;
  text-align: center;
  z-index: 2; }
  @media (max-width: 767px) {
    .slide-collection .slick-arrow {
      display: none !important; } }
  .slide-collection .slick-arrow.slick-prev {
    left: -15px; }
    .slide-collection .slick-arrow.slick-prev:before {
      content: "";
      background-image: url(//cdn.hstatic.net/themes/200001110831/1001434972/14/back.svg?v=252);
      height: 30px;
      width: 30px;
      display: block; }
  .slide-collection .slick-arrow.slick-next {
    right: -15px; }
    .slide-collection .slick-arrow.slick-next:before {
      content: "";
      background-image: url(//cdn.hstatic.net/themes/200001110831/1001434972/14/right-arrow.svg?v=252);
      height: 30px;
      width: 30px;
      display: block; }

.slide-collection .slick-dots {
  text-align: center; }
  .slide-collection .slick-dots li {
    display: inline-block; }
    .slide-collection .slick-dots li button {
      border: none;
      height: 7px;
      width: 20px;
      border-radius: 7px;
      outline: none;
      box-shadow: none;
      background-color: rgba(0, 0, 0, 0.1);
      font-size: 0;
      padding: 0;
      display: block; }
    .slide-collection .slick-dots li + li {
      margin-left: 5px; }
    .slide-collection .slick-dots li.slick-active button {
      width: 7px;
      border-radius: 50%;
      background-color: #f68e2e; }

.slide-collection .slick-slide {
  margin: 0; }

.slide-collection .slick-dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  height: 24px;
  align-items: center;
  display: flex !important;
  justify-content: center; }

.group-category {
  margin-top: 20px;
  margin-left: -5px;
  margin-right: -5px; }
  @media (max-width: 480px) {
    .group-category {
      margin-top: 7px; } }
  .group-category .slick-slide {
    margin: 5px; }
  .group-category .slick-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    line-height: 30px;
    text-align: center;
    z-index: 2; }
    @media (max-width: 767px) {
      .group-category .slick-arrow {
        display: none !important; } }
    .group-category .slick-arrow.slick-prev {
      left: -15px; }
      .group-category .slick-arrow.slick-prev:before {
        content: "";
        background-image: url(//cdn.hstatic.net/themes/200001110831/1001434972/14/back.svg?v=252);
        height: 30px;
        width: 30px;
        display: block; }
    .group-category .slick-arrow.slick-next {
      right: -15px; }
      .group-category .slick-arrow.slick-next:before {
        content: "";
        background-image: url(//cdn.hstatic.net/themes/200001110831/1001434972/14/right-arrow.svg?v=252);
        height: 30px;
        width: 30px;
        display: block; }
  .group-category .slick-dots {
    text-align: center; }
    .group-category .slick-dots li {
      display: inline-block; }
      .group-category .slick-dots li button {
        border: none;
        height: 7px;
        width: 20px;
        border-radius: 7px;
        outline: none;
        box-shadow: none;
        background-color: rgba(0, 0, 0, 0.1);
        font-size: 0;
        padding: 0;
        display: block; }
      .group-category .slick-dots li + li {
        margin-left: 5px; }
      .group-category .slick-dots li.slick-active button {
        width: 7px;
        border-radius: 50%;
        background-color: #f68e2e; }
  .group-category .category-item a {
    display: block;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    padding: 15px; }
    @media (max-width: 991px) {
      .group-category .category-item a {
        padding: 8px 15px; } }
    @media (max-width: 480px) {
      .group-category .category-item a {
        padding: 5px; } }
    .group-category .category-item a h6 {
      font-size: 14px;
      margin-top: 5px;
      margin-bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .group-category .category-item a:hover, .group-category .category-item a:focus {
      border-color: #f68e2e; }
      .group-category .category-item a:hover h6, .group-category .category-item a:focus h6 {
        color: #f68e2e; }
      .group-category .category-item a:hover .group-category-image img, .group-category .category-item a:focus .group-category-image img {
        opacity: 0.6; }
  .group-category .category-item .group-category-image {
    position: relative;
    height: 142px; }
    @media (max-width: 1024px) {
      .group-category .category-item .group-category-image {
        height: 108px; } }
    @media (max-width: 991px) {
      .group-category .category-item .group-category-image {
        height: 106px; } }
    @media (max-width: 767px) {
      .group-category .category-item .group-category-image {
        height: 104px; } }
    @media (max-width: 480px) {
      .group-category .category-item .group-category-image {
        height: 120px; } }
    @media (max-width: 476px) {
      .group-category .category-item .group-category-image {
        height: 100px; } }
    .group-category .category-item .group-category-image img {
      width: auto !important;
      max-height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; }
      .group-category .category-item .group-category-image img:not(.loaded) {
        width: 100% !important;
        height: 100% !important;
        opacity: 0.2; }
